<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">History</h1>
  </div>
  <div>
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
      <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
               aria-label="Search" aria-describedby="basic-addon2" (keyup)="searchAll($event)">
        <div class="input-group-append">
          <button class="btn-primary" style="width: 100px">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <span id="paginate" style="font-size: 15px">Bạn muốn chia bao nhiêu thể loại 1 trang: <input type="number"
                                                                                               (input)="changePage($event)"
                                                                                               value="10"
                                                                                               style="width: 50px"
                                                                                               min="0"></span>
  <div class="container">
    <table class="table">

      <thead class="thead-dark">
      <tr>
        <th scope="col">Stt</th>
        <th scope="col">User Name</th>
        <th scope="col">Order Total</th>
        <th scope="col">Order Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders| paginate: {
              itemsPerPage:number,
              currentPage:page,
              totalItems:totalLength
            };let i=index">
        <th scope="row">{{i+1}}</th>
        <td><a routerLink="history-admin-detail" (click)="findById(order.order_id)">{{order.name}}</a></td>
        <td>{{order.order_total|number}} VND</td>
        <td>{{order.order_status}}</td>
      </tr>
      </tbody>
    </table>
    <div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>



