<div class="container">
  <div class="header-inner">
    <div class="container">
      <div class="cat-nav-head">
        <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-9 col-12">
            <div class="menu-area">
              <!-- Main Menu -->
              <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">
                  <div class="nav-inner">
                    <ul class="nav main-menu menu navbar-nav">
                      <li class="active"><a routerLink="">Home</a></li>
                      <li><a routerLink="/user-product">Product</a></li>
                      <li><a href="#">Service</a></li>
                      <li><a href="#">Shop<i class="ti-angle-down"></i><span
                        class="new">New</span></a>
                        <ul class="dropdown">
                          <li><a href="cart.html">Cart</a></li>
                          <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Pages</a></li>
                      <li><a href="#">Blog<i class="ti-angle-down"></i></a>
                        <ul class="dropdown">
                          <li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
                        </ul>
                      </li>
                      <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
              <!--/ End Main Menu -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-9 padding-right">
    <div class="product-details"><!--product-details-->
      <div class="col-sm-5">
        <div class="view-product">
          <img src="{{product.image}}" alt=""/>
        </div>
        <div id="similar-product" class="carousel slide" data-ride="carousel">

          <a class="left item-control" href="#similar-product" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="right item-control" href="#similar-product" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>

      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="formCart">
        <div class="col-sm-7">
          <div class="product-information"><!--/product-information-->
            <img src="" class="newarrival" alt=""/>
            <h2>{{product.product_name}}</h2>
            <p>Product ID: {{product.product_id}}</p>
            <span>
									<span>{{product.price|number}} VND</span>
            <br>
            <br>
									<label>Quantity:</label>
									<input type="number" value="3" formControlName="quantity"/>
									<button class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
            <p><b>Tinh Trang:</b> Con hang</p>
            <p><b>Category:</b> {{product.category_name}}</p>
            <p><b>Brand:</b> {{product.brand_name}}</p>
          </div><!--/product-information-->
        </div>
      </form>
    </div><!--/product-details-->

    <div class="category-tab shop-details-tab"><!--category-tab-->
      <div class="col-sm-12">
        <h2><a href="#reviews">Description:</a></h2>
      </div>
      <div class="tab-content">

        <div class="tab-pane fade active in" id="reviews">
          <div class="col-sm-12">
            <pre>{{product.desc}}.</pre>
            <p><b>Write Your Review</b></p>

            <form action="#">
										<span>
											<input type="text" placeholder="Your Name"/>
											<input type="email" placeholder="Email Address"/>
										</span>
              <textarea name=""></textarea>
              <b>Rating: </b> <img src="images/product-details/rating.png" alt=""/>
              <button type="button" class="btn btn-default pull-right">
                Submit
              </button>
            </form>
          </div>
        </div>

      </div>
    </div><!--/category-tab-->


  </div>
</div>
