<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<div class="container">
  <h1>Brand List</h1>
  <div>
    <form
      class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
      <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
               aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>
    <span id="paginate" style="font-size: 15px">Bạn muốn chia bao nhiêu thể loại 1 trang: <input type="number"
                                                                                                 (input)="changePage($event)"
                                                                                                 value="2"
                                                                                                 style="width: 50px"
                                                                                                 min="0"></span>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Brand Name</th>
      <th scope="col" colspan="4">Brand Image</th>
      <th scope="col">Drop brand</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let brand of brands| paginate: {
              itemsPerPage:number,
              currentPage:page,
              totalItems:totalLength
            };let i=index">
      <th scope="row">{{i + 1}}</th>
      <td><a routerLink="edit-brand" (click)="findId(brand.brand_id)">{{brand.brand_name}}</a></td>
      <td colspan="4"><img src="{{brand.brand_image}}" style="width: 300px"></td>
      <td>
        <button class="btn btn-danger" (click)="delete(brand.brand_id)"><i class="fas fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
