<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bread-inner">
          <ul class="bread-list">
            <li><a routerLink="">Home<i class="ti-arrow-right"></i></a></li>
            <li class="active">Cart</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- Shopping Cart -->
<div class="shopping-cart section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Shopping Summery -->
        <table class="table shopping-summery">
          <thead>
          <tr class="main-hading">
            <th>STT</th>
            <th>PRODUCT</th>
            <th>NAME</th>
            <th class="text-center">UNIT PRICE</th>
            <th class="text-center">QUANTITY</th>
            <th class="text-center">TOTAL</th>
            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products;let i=index">
            <td>{{i + 1}}</td>
            <td class="image" data-title="No"><img src="{{product.image}}" alt="#"></td>
            <td class="product-des" data-title="Description">
              <p class="product-name"><a href="#">{{product.product_name}}</a></p>
              <p class="product-des">{{product.desc}}.</p>
            </td>
            <td class="price" data-title="Price" *ngIf="product.price-product.promotional_price==product.price"><span>{{product.price|number}} VND</span></td>
            <td class="price" data-title="Price" *ngIf="product.price-product.promotional_price<product.price"><span>{{product.promotional_price|number}} VND</span></td>
            <td class="qty" data-title="Qty" style="text-align: center"><!-- Input Order -->
                <input type="number" style="width: 50px" value="{{product.cart_quantity}}" (input)="changeValue($event,product.cart_id)">
              <!--/ End Input Order -->
            </td>
            <td class="total-amount" data-title="Total" *ngIf="product.price-product.promotional_price==product.price"><span>{{this.product.cart_quantity * this.product.price|number}} VND</span></td>
            <td class="total-amount" data-title="Total" *ngIf="product.price-product.promotional_price<product.price"><span>{{this.product.cart_quantity * this.product.promotional_price|number}} VND</span></td>
            <td class="action" data-title="Remove"><a (click)="deleteCart(product.cart_id)"><i class="ti-trash remove-icon"></i></a></td>
          </tr>
          </tbody>
        </table>
        <!--/ End Shopping Summery -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Total Amount -->
        <div class="total-amount">
          <div class="row">
            <div class="col-lg-4 col-md-7 col-12">
              <div class="right">
                <ul>
                  <li class="last" >You Pay<span>{{totalCart()|number}} VND</span></li>
                </ul>
                <div class="button5">
                  <a routerLink="/check-out" class="btn">Checkout</a>
                  <a routerLink="/user-product" class="btn">Continue shopping</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ End Total Amount -->
      </div>
    </div>
  </div>
</div>
